<div id="links" class="medium-4 columns links" style="background-color:#f1f1f1;">
  <ul class="side-nav" >
    <li><a data-link="appointments" >Calendar</a></li>
    <li><a data-link="prescriptions">Prescriptions</a></li>
    <li><a data-link="bookappointments" class="active">Book Appointment</a></li>
    {{!-- <li><a data-link="dashboard">Dashboard</a></li> --}}
    <li><a data-link="">My Profile</a></li>   
  </ul>
</div>   
<script>
      $('#links').click(function(e) {  
          console.log(e)
        var url = '/patient/' + e.target.dataset.link
        console.log(url)
        document.location.replace(url);
    });
</script>   
<div class="medium-8 columns" style="background-color:#f1f1f1;">
    <h1>Book Appointments</h1>
    <p>Monday April 11, 2022</p>
    <div id="container" class="container">
        <table class="patient-appointments .table">
            <tr>
                <th scope="col">Doctor Name</th>
                <th scope="col">Specialty</th>
                <th scope="col">Phone</th>
                <th scope="col">Symptoms</th>
                <th scope="col">Availability</th>
            </tr>
            {{#each appointments as |apt|}}
            <tr>
                <td>{{this.doctorName}}</td>
                <td>{{this.Specialty}}</td>
                <td>{{this.Phone}}</td>
                {{!-- <td>{{this.symptoms}}</td> --}}
                {{!-- <td>{{this.status}}</td> --}}
                <td></td>
                <td><span><a data-date="April 11 2022" data-timeslot="9:00AM" data-doctor="{{this.doctorName}}" id="time">9:00 AM</a></span>
                    <span><a data-date="April 11 2022" data-timeslot="10:00AM" data-doctor="{{this.doctorName}}" id="time">10:00 AM</a></span>
                </td>
            </tr>
            {{/each}}
        </table>
                    <p>Tuesday April 12, 2022</p>
        <table class="patient-appointments .table">
            <tr>
                <th scope="col">Doctor Name</th>
                <th scope="col">Specialty</th>
                <th scope="col">Phone</th>
                <th scope="col">Symptoms</th>
                <th scope="col">Availability</th>
            </tr>
            {{#each appointments as |apt|}}
            <tr>
                <td>{{this.doctorName}}</td>
                <td>{{this.Specialty}}</td>
                <td>{{this.Phone}}</td>
                {{!-- <td>{{this.symptoms}}</td> --}}
                {{!-- <td>{{this.status}}</td> --}}
                <td></td>
                <td><span><a data-date="April 12 2022" data-timeslot="9:00AM" data-doctor="{{this.doctorName}}" class='test' id="time">9:00 AM</a></span>
                    <span><a data-date="April 12 2022" data-timeslot="10:00AM" data-doctor="{{this.doctorName}}" id="time">10:00 AM</a></span>
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
{{!-- generate uuids in-browser for appointment unique ids --}}


<script src="/javascript/bookappointment.js"></script>


