     <main class="container container-fluid mt-5">


        <div class="row">

          <nav class="top-bar" data-topbar>

            <ul class="title-area">
              <ol class="name">
                <h1><a href="#">WhatTheHealth</a></h1>
              </ol>          
            </ul>

            <section class="top-bar-section">
              <ul class="right">
                <li class="active"><a href="#">Sign out</a></li>
              </ul>
            </section>
          </nav>
                
        </div> 

        <div class="row">

          <div class="medium-4 columns" style="background-color:#f1f1f1;">
            <ul class="side-nav">
              <li class="active"><a href="#">Calendar</a></li>
              <li><a href="#">Prescription</a></li>
              <li><a href="#">Patient Search</a></li>
              <li><a href="#">Reference</a></li>
              <li><a href="#">Earning</a></li>    
              <li><a href="#">Dashboard</a></li>
            </ul>
          </div>          
          <div class="medium-8 columns" style="background-color:#f1f1f1;">      
<h1>Patient Calendar</h1>
<div class="appointments" id="appointments">
  <table class="patient-appointments .table">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Doctor Name</th>
      <th scope="col">Symptoms</th>
      <th scope="col">Status</th>
      <th scope="col">Wait Time (Minutes)</th>
      <th scope="col">Actions:</th>
    </tr>
    {{#each appointments as |apt|}}
      <tr>
        <td>{{this.date}}</td>
        <td>{{this.time}}</td>
        <td>{{this.doctorName}}</td>
        <td>{{this.symptoms}}</td>
        <td>{{this.status}}</td>
        <td>{{this.waitTime}}</td>
        <td><button data-aptid="{{this.id}}" id="{{this.id}}">Check-In</button></td>
        <td><button>Cancel</button></td>
      </tr>
    {{/each}}
  </table>
</div>

<script>
      $('#appointments').click(function(e) {  
        var url = '/patient/appointments/call/' + e.target.dataset.aptid
        document.location.replace(url);
        
    });
</script>
{{!-- 
  let method = 'GET';
  let endpoint = `request url ${input.value}`;

  xhr.open(method, endpoint);
  xhr.send(); //if in the link what you looking for this send will be empty!!! --}}